* {box-sizing:border-box}
body{
  background-color: #008080;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}
h1{
  width:1000px;
  height:80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  margin-bottom: 75px;
}
#hmlink{
  width:130px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1abc9c;
}
#hmlink a{
  text-decoration: none;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  color:black;
}
#hmlink a:hover{
  cursor: pointer;
  color:red;
}
#about{
  width:1000px;
  word-wrap: break-word;
  background-color: #1abc9c;
  margin-left: auto;
  margin-right: auto;
}
#about p{
  font-size: 30px;
  color:black;
  padding-left: 8px;
}
/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#advert1{
  float:left;
  height:600px;
  margin-top: 60px;
  width:200px;
  background-color: white;
  border:5px solid #f1ad1a;
}
#advert2{
  float:right;
  height:600px;
  margin-top: 60px;
  width:220px;
  background-color: white;
  border:5px solid #f1ad1a;
}
#advert1,#advert2 p{
  font-size: 30px;
  font-variant: small-caps;
  word-wrap: break-word;
  padding-left: 6px;
  padding-right: 6px;
}

@media only screen and (min-width : 768px) and (max-width : 1023px){
  #advert1,#advert2{
    display: none;
  }
}
